<?xml version="1.0" ?>
<model>
    <name>tgw_arena</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Raimund Edlinger</name>
        <email>raimund.edlinger@fh-wels.at</email>
    </author>
    <description>3D model description of the TGW Hackathon</description>
</model>
